.storeInfoContainer {
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
}


.storeInfo {
  padding-top: 30px;
  width: 45%;
  margin: 0px;
  display: inline-block;
}

.storeInfo h2 {
  font-size: 250%;
  margin: 10px 0px;
}

.infoSection {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-top: 15px;
}

.storeMap {
  width: 55%;
  display: inline-block;
}

.mapBox {
  width: 100%;
  padding: 0px;
}

.mapButton {
  transition: .25s;
  height: 60px;
  width: 30%;
  font-size: 160%;
  border: 1px solid #413d3d;
  background-color: #ccc9c9;
  margin-top: 3%;
}

.mapButton:hover {
  color: #ffffff;
  background-color: rgb(0, 132, 255);
  transform: scale(1.15);
}

.infoSection h3 {
  font-size: 165%;
  color: #5c5c5c;
}

.infoSection p {
  font-size: 115%;
  font-weight: 500;
  margin-bottom: 15px;
}

.storeAbout {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  margin: 30px 0px;
}

.storeAbout h2 {
  display: inline-block;
  vertical-align: top;
  font-size: 250%;
  width: 30%;
  margin: 0px;
}

.storeAbout p {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  font-size: 115%;
  font-weight: 450;
  margin: 0px;
}

.storeServicesContainer {
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
}

.storeServicesContainer h2 {
  font-size: 250%;
  text-align: center;
}